{% extends "home/layout.html" %}
{% load static %}
{% block body %}

{% load crispy_forms_tags %}



    <form action="" method="POST" enctype="multipart/form-data">
        <h2>NUEVO PRODUCTO</h2>
        {% csrf_token %}
        {{ form | crispy }}
        <br>
        <button type="submit" class="btn btn-primary btn-sm">Agregar Producto</button>
    </form>
    <!-- <form action="" method="POST">
        {% csrf_token %}
        {% for field in form.visible_fields %}
        <div class="form-floating mb-3">
            {{ field }}
            <label for="floatingInput">{{ field.label }}</label>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-sm">Agregar Producto</button>
    </form> -->

{% endblock %}