{% extends "home/layout.html" %}
{% load static %}
{% block body %}

{% if busqueda %}

    <h1>Resultados para {{ busqueda }}</h1>
    <br>


    <div class="container mt-4">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Precio</th>
              <th scope="col">Categoria</th>
            </tr>
          </thead>
    
          <tbody>
            {% for producto in productos %}
              <tr>
                <td>{{ producto.nombre }}</td>
                <td>${{ producto.precio }}</td>
                <td>{{ producto.categoria }}</td>
                <td><a href="{% url 'verProducto' producto.id %}">Ver Mas</a></td>  
              </tr>        
            {% endfor %}
          </tbody>
        </table>


    <!-- {% for producto in productos %}
        <a href="{% url 'verProducto' producto.id %}">{{ producto }}</a> <br>
    {% endfor %} -->

{% else %}
    <h1>No realizaste ninguna busqueda</h1>
{% endif %}

{% endblock %}