{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaguarete KAA</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>

<body>

    <div class="navSuperior">
        <ul class="container nav justify-content-end">
            <div class="flex-grow-1">
                <img id="ocultarLogo" src="{% static 'images/logo.png' %}" alt="" width="200">
            </div>
            <div class="flex-grow-1">
                <img id="logo" src="{% static 'images/logoSolo.png' %}" alt="" width="200">                
            </div>
            {% if user.is_authenticated %}
            <li class="nav-item align-self-center">
                <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesion</a>
            </li>
            <li class="nav-item align-self-center">
                <a class="nav-link" href="#">Carrito</a>
            </li>
            {% else %}
            <li class="nav-item align-self-center">
                <a class="nav-link" href="{% url 'login' %}">Iniciar Sesion</a>
            </li>
            <li class="nav-item align-self-center">
                <a class="nav-link" href="{% url 'registro' %}">Registrarse</a>
            </li>
            {% endif %}
        </ul>
    </div>


    <nav class="navbar navbar-expand-lg navSuperior navbar-dark">

        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nosotros' %}">Acerca de Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                    </li>
                    {% if perms.app.add_producto %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'agregar' %}">Agregar Productos</a>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                        </a>
                        <ul id="bgActive" class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {%  for categoria in categorias %}
                            <li><a class="dropdown-item" href="#">{{ categoria }}</a>
                            {% endfor %}
                            <!-- <li><a class="dropdown-item" href="#">Categoria 1</a></li>
                            <li><a class="dropdown-item" href="#">Categoria 2</a></li>
                            <li><a class="dropdown-item" href="#">Categoria 3</a></li> -->
                        </ul>
                    </li>
                </ul>
                <form class="d-flex searchButton" method="GET" action="{% url 'buscar' %}">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Ingrese su busqueda"
                        aria-label="Search" name="buscar" value="{{ request.GET.buscar }}">
                    <button type="submit" class="btn btn-outline-light">Buscar</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container divPrincipal">
        {% block body %}
        {% endblock %}
    </div>

    <div class="container-fluid" id="footer">
        <div class="d-flex p-2 bd-highlight justify-content-between">
            <div><i class="fab fa-instagram"></i><i class="fab fa-facebook-square"></i><i class="fab fa-twitter-square"></i></div>
            <div>JAGUARETE KAA SA.</div>
        </div>
        <div class="d-flex p-2 bd-highlight justify-content-center">©2021 | Alexander Hidalgo</div>
    </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>