* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #f5f5f5;
}

/* NAVBAR */

.navSuperior {
  background-color: #0a1931;
}

.navSuperior ul li a {
  color: #f5f5f5;
}
.navSuperior ul li span {
  color: #f5f5f5;
}
.navSuperior ul li a:hover {
  outline: 2px solid #f5f5f5;
  color: #f5f5f5;
}
.navSuperior ul li a:focus {
  outline: 2px solid #f5f5f5;
  color: #f5f5f5;
}
#bgActive{
  background-color: #0a1931;
}
#bgActive li a{
  color: #f5f5f5;
}
#bgActive li a:hover{
  color: #0a1931;
}

/* DIV PRINCIPAL */
.divPrincipal{
  margin-top: 50px;
}

/* INDEX */
h1{
  font-weight: 700;
}